@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter;
}

header {
    width: 100%;
    background: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    color: white;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
}

header > img {
    margin-right: 8px;
}

.card {
    color: #2B283A;
    margin: 36px 40px;
    display: flex;
    align-items: center;
}

.card > img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    margin-right: 19px;
}

.location {
    display: flex;
    align-items: center;
}

.country {
    text-transform: uppercase;
    margin: 0 12px 0 4px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
}

.google-url {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
}

.title {
    margin: 17px 0 7px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.time {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15px;
    margin-top: 9px;
}